<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keywords" content="ads-market, ads, marketplace, advertising, ad, marketing, promotion, advertisement, ad network, ad networks, ads network, ads networks, advertisers, advertising networks, advertising network, marketing network, marketing networks, market network, market networks, network, networks, networking, networks, social media, social networks, social network, social networks, social media network, social media networks">
    <meta name="description" content="Ads Market is a platform for advertisers to create and manage their own ad campaigns. It allows advertisers to target specific audiences and track their ad performance. It also provides a marketplace for advertisers to find and connect with other advertisers.">
    <meta name="author" content="Eunny Technologies">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/flash-messages" %>
    <%= yield %>
  </body>
</html>
